@using Newtonsoft.Json
@model Company;

@{
    var model = Model;
}

<div class="SwalDelModal">
    <h5 class="ModalQuestion"
        data-payload="@JsonConvert.SerializeObject(model)">
        Are you sure that you want to delete the association with the company @Model.Name?
    </h5>
    <h6 class="text-danger">It will be permanently removed and it will cannot be restored!</h6>
</div>