@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<form
    method="post"
    id="account"
    class="CreateCategoryForm row d-flex align-items-center justify-content-lg-around justify-content-xl-around justify-content-md-center justify-content-sm-center justify-content-center m-0">
    <div class="col-lg-6 col-xl-6 col-md-11 col-sm-11 col-11 border mt-3 Shadow1 rounded-2 p-3 mt-4 mb-4">
        <div class="w-100 d-flex flex-row align-items-center justify-content-start mb-0">
            <img src="~/img/BookBazaarWhiteTransparent.svg" class="LogoImgAuth" alt="Logo"/>
            <div class="d-flex flex-column">
                <h2 class="fw-bold nav-link LogoText">BOOK BAZAAR</h2>
                <h3 >Where every book holds an universe.</h3>
                <h5 class="RegisterActionHeading">Log in to your account</h5>
            </div>
        </div>

        <div asp-validation-summary="ModelOnly" class="ValidationSummary"></div>
        <div class="mb-3 d-flex flex-row justify-content-center align-items-center">
            <div class="col-11">
                <label asp-for="Input.Email" class="ml-1 mt-2"></label>
                <span asp-validation-for="Input.Email" class="ValidationError"></span>
                <input asp-for="Input.Email" class="form-control TextInput">
            </div>
        </div>
        <div class="mb-3 d-flex flex-row justify-content-around align-items-center">
            <div class="col-11">
                <label asp-for="Input.Password" class="ml-1 mt-2"></label>
                <span asp-validation-for="Input.Password" class="ValidationError"></span>
                <input asp-for="Input.Password" class="form-control TextInput">
            </div>
        </div>
        <button type="submit" id="registerSubmit" class="button-primary mt-4 SubmitNewCategory ForcedMargin Shadow2 rounded-3">Log in</button>
        <a href="/Identity/Account/Register"
           class="mt-2 nav-link link-underline text-center Anchor">
            Don't have an account? <b class="fw-bolder">Register now.</b>
        </a>
        <div class="col-md-12 mt-2">
            <section class="Divider">
                <p class="divider-text d-flex">OR</p>
            </section>
            <section class="justify-content-center align-items-center d-flex">
                <div class="col-11">
                    <p>
                        <a id="forgot-password"
                           class="LoginAction"
                           asp-page="./ForgotPassword">
                            Forgot your password?
                        </a>
                    </p>
                    <p>
                        <a id="resend-confirmation"
                           class="LoginAction"
                           asp-page="./ResendEmailConfirmation">
                            Resend email confirmation
                        </a>
                    </p>
                </div>
            </section>
        </div>
    </div>
    <img src="~/img/undraw_profile_re_4a55.svg"
         alt="Books Art"
         class="CreateCategoryImage col-lg-6 col-xl-6 d-sm-none d-none d-md-none d-lg-block d-xl-block"/>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}