@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<div class="container">
    <form
        method="post"
        class="CreateCategoryForm row d-flex align-items-center justify-content-lg-around justify-content-xl-around justify-content-md-center justify-content-sm-center justify-content-center m-0">
        <div class="col-lg-6 col-xl-6 col-md-11 col-sm-11 col-11 border mt-3 Shadow1 rounded-2 p-3 mt-4 mb-4">
            <div class="w-100 d-flex flex-row align-items-center justify-content-start mb-0">
                <img src="~/img/BookBazaarWhiteTransparent.svg" class="LogoImgAuth" alt="Logo"/>
                <div class="d-flex flex-column">
                    <h2 class="fw-bold nav-link LogoText">BOOK BAZAAR</h2>
                    <h3 >Where every book holds an universe.</h3>
                    <h5 class="RegisterActionHeading">Resend email confirmation</h5>
                </div>
            </div>
            <div asp-validation-summary="All" class="text-danger mt-2" role="alert"></div>
            <div class="mb-3 d-flex flex-row justify-content-center align-items-center">
                <div class="col-11">
                    <label asp-for="Input.Email" class="ml-1 mt-2"></label>
                    <span asp-validation-for="Input.Email" class="ValidationError"></span>
                    <input asp-for="Input.Email" class="form-control TextInput">
                </div>
            </div>
            <button type="submit"
                    class="button-primary mt-4 SubmitNewCategory ForcedMargin Shadow2 rounded-3">
                Resend email confirmation
            </button>
            <a href="/Identity/Account/Login"
               class="mt-2 nav-link link-underline text-center Anchor">
                Back to <b class="fw-bolder">Login</b>
            </a>
        </div>
        <img src="~/img/undraw_mailbox_re_dvds.svg"
             alt="Books Art"
             class="CreateCategoryImage col-lg-6 col-xl-6 d-sm-none d-none d-md-none d-lg-block d-xl-block"/>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}