:root {
    --navbarColor: #545454;
    --mainFont: 'Exo 2', sans-serif;
}

*::selection {
    background-color: var(--navbarColor) !important;
    opacity: 80%;
    color: white !important;
}

html {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

nav {
    background-color: var(--navbarColor) !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.NavigationLink {
    transition: .4s ease-in-out !important;
}

.NavigationLinkDropdown {
    transition: .4s ease-in-out !important;
    color: var(--navbarColor) !important;
}

.NavigationLinkDropdown:focus {
    background-color: lightgray !important;
}

.NavigationLinkDropdown:hover {
    opacity: 75% !important;
}

.NavigationLink:hover {
    color: darkgrey !important;
}

.LogoImg {
    width: 75px !important;
    height: 75px !important;
}

.LogoText {
    transition: .4s ease-in-out !important;
}

.LogoText:hover {
    letter-spacing: 3px !important;
    color: darkgray !important;
}


footer {
    background-color: var(--navbarColor) !important;
    height: 70px;
    line-height: normal !important;
}

footer > div {
    opacity: 75% !important;
}


/*Categories*/
.TableHeading {
    text-align: center;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px !important;
}

.TableHeading th {
    background-color: #ED5B2D !important;
    color: white;
}

tbody {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px !important;
}

.Icon {
    font-weight: bold !important;
    font-size: 1em !important;
    margin-right: .2em;
}

.Button {
    transition: .4s ease-in-out;
    border-radius: 10px !important;
    font-size: 1em !important;
    padding: .5em !important;
    font-weight: bold !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px !important;
}

.Button:hover {
    color: white !important;
    border-color: transparent;
    outline: none;
}

.EditButton {
    background-color: #61A6AB;
    color: white;
}

.DeleteButton {
    background-color: red;
    color: white;
    outline: none !important;
    transition: .2s ease-in-out;
    border: transparent !important;
}

.CancelButton {
    outline: none !important;
}

.UpdateButton {
    background-color: var(--navbarColor);
    color: white;
    border-color: transparent;
    outline: none;
    transition: .2s ease-in-out;
    display: block;
    margin: 0 auto;
}


.UpdateButton:hover {
    background-color: #fd7e14 !important;
}

.DeleteButton:hover {
    background-color: var(--navbarColor);
}

.AddButton:hover {
    background-color: #ED5B2D !important;
}

.EditButton:hover {
    background-color: #fd7e14 !important;
}

.DeleteButton:hover {
    background-color: red;
}

.CreateCategoryImage {
    width: 30% !important;
    height: auto;
}

.SubmitNewCategory {
    background-color: #468B91 !important;
    transition: .2s ease-in-out;
    color: white !important;
    width: 45% !important;
    font-weight: bolder !important;
    outline: none !important;
    border: none !important;
    display: block !important;
    margin: 0 auto !important;
    font-size: 1.2em !important;
}

.SubmitNewCategory:hover {
    background-color: #291B25 !important;
    width: 55% !important;
}

/*Forms*/
.form-control:focus {
    border-color: var(--navbarColor);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--navbarColor);
}

.form-select:focus {
    border-color: var(--navbarColor);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--navbarColor);

}

.CreateCategoryForm {
    margin-top: 3em !important;
    margin-bottom: 3em !important;
    overflow: scroll !important;
}

.CreateCategoryForm::-webkit-scrollbar {
    display: none !important;
}

@media screen and(min-width: 1370px) {
    .CreateCategoryForm {
        margin-top: 3em !important;
    }
}

.LabelLeft {
    text-align: left !important;
    display: block !important;
}

/*Shadows*/
.Shadow1 {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px !important;
}

.Shadow2 {
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px !important;
}

/*Anchors*/
.Anchor {
    transition: .2s ease-in-out !important;
}

.Anchor:hover {
    text-decoration: underline !important;
}

/*Validations*/
.ValidationError {
    color: red !important;
    font-weight: bold !important;
    display: block !important;
}

.ValidationSummary {
    color: red !important;
    font-weight: bold !important;
    text-align: left !important;
}

.ValidationSummary ul {
    padding-left: 0 !important;
}

.ValidationSummary ul li {
    list-style-type: none !important;
    margin-left: 0 !important;
    text-align: left !important;
}

/*Tables*/
.TableDefinition {
    max-height: 2.5em !important;
    max-width: 7em !important;
    text-align: left !important;
    white-space: nowrap;
    overflow: scroll !important;
    text-overflow: ellipsis !important;
    cursor: pointer;
}

.TableDefinition::-webkit-scrollbar {
    display: none !important;
}

.HovarableTableData:hover {
    text-decoration: underline !important;
}

.Paragraph {
    display: block !important;
    text-align: left !important;
    margin-top: 1.5em !important;
}

.ForcedMargin {
    margin-top: 1em !important;
}

.PreLine {
    white-space: pre-line !important;
}

.dataTables_length {
    margin-top: 1em;
    margin-bottom: 1em !important;
}

.dataTables_filter {
    margin-top: 1em;
    margin-bottom: 1em !important;
}

.dataTables_filter input {
    outline: none;
}

.sort-icon {
    font-size: 0.75rem;
    margin-left: 5px;
}

.sort-icon::before {
    content: "\2191"; /* Up arrow, you can use other icons as needed */
}

.sort-icon.sort-desc::before {
    content: "\2193"; /* Down arrow for descending */
}

.ui-icon {
    display: block;
}

.dataTables_info {
    margin-top: 1em;
}

.dataTables_paginate {
    margin-top: 1em;
}

.current {
    background-color: #ED5B2D !important;
    color: white !important;
    font-weight: bolder !important;
}


.CenteredContainer {
    display: block !important;
    margin: 0 auto !important;
    width: 95% !important;
}
