<div class="SwalDelModal">
    <h5 class="ModalQuestion">
        Cannot proceed to checkout because at least one book from your order basket was sold out!
    </h5>
    <h6 class="text-danger">Please remove it from the cart and try again.</h6>
</div>