@model BookBazaar.Models.VM.DetailedOrderBasketViewModel;

@{
    ViewData["Title"] = "My order basket - Book Bazaar";
}

<div class="container">
    <h1>My order basket</h1>
    <form method="post" class="d-flex align-items-center justify-content-around">
        <div class="OrderList">
        </div>
    </form>
</div>