<div class="mt-3">
    <div class="container">
        <h1>Shipping details</h1>
        <div class=" mt-2 d-flex ShippingContainer align-items-center justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-bewteen justify-content-xl-between">
            <form
                method="post"
                class="col-lg-6 col-xl-6 col-md-11 col-sm-11 col-11 border mt-3 Shadow1 rounded-2 p-3 mt-4 mb-4">
                <p class="text-center fw-bolder">Please provide your address details in order to proceed to checkout.</p>
                <div asp-validation-summary="ModelOnly" class="ValidationSummary"></div>
                <div class="mb-3 d-flex flex-row justify-content-around align-items-center">
                    <div class="col-11">
                        <label class="ml-1 mt-2">Name</label>
                        <span class="ValidationError"></span>
                        <input type="text" class="form-control TextInput mt-">
                    </div>
                </div>

                <div class="mb-3 d-flex flex-row justify-content-around align-items-center">
                    <div class="col-11">
                        <label class="ml-1 mt-2">Phone Number</label>
                        <span class="ValidationError"></span>
                        <input type="text" class="form-control TextInput mt-">
                    </div>
                </div>

                <div class="mb-3 d-flex flex-row justify-content-around align-items-center">
                    <div class="col-11">
                        <label class="ml-1 mt-2">Street Address</label>
                        <span class="ValidationError"></span>
                        <input type="text" class="form-control TextInput mt-">
                    </div>
                </div>

                <div class="mb-3 d-flex flex-row justify-content-around align-items-center">
                    <div class="col-11">
                        <label class="ml-1 mt-2">City</label>
                        <span class="ValidationError"></span>
                        <input type="text" class="form-control TextInput mt-">
                    </div>
                </div>

                <div class="mb-3 d-flex flex-row justify-content-around align-items-center">
                    <div class="col-11">
                        <label class="ml-1 mt-2">Country</label>
                        <span class="ValidationError"></span>
                        <input type="text" class="form-control TextInput mt-">
                    </div>
                </div>
                <button type="submit" class="button-primary mt-4 SubmitNewCategory ForcedMargin Shadow2 rounded-3">To checkout</button>
                <div class="text-center">Payment processing powered by <img src="~/img/stripe.svg" width="50" height="50" alt="Stripe logo"></div>
                <a asp-controller="Category" asp-action="Index" class="mt-2 nav-link link-underline text-center Anchor">Back to your order basket</a>
            </form>

            <div class="col-12 col-lg-5 offset-lg-1">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-info OrderInfo">Your order</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between">
                        <div>
                            <h6 class="my-0">Title</h6>
                            <small class="text-muted">Quantity: Count</small>
                        </div>
                        <span class="text-muted">Price * Count </span>
                    </li>


                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <small class="text-info">Total (USD)</small>
                        <strong class="text-info">$$</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>