@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage"
               class="nav-link NavigationLink text-white border-0 text-uppercase"
               asp-area="Identity"
               asp-page="/Account/Manage/Index"
               title="Manage">
                <i class="bi bi-person"></i>
                @User.FindFirst(ClaimTypes.Name)?.Value
            </a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout"
                        type="submit"
                        class="nav-link NavigationLink text-white border-0 text-uppercase">
                    Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="NavigationLink nav-link text-white NavbarLink" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="NavigationLink nav-link text-white NavbarLink" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
    <li class="nav-item">
        <a class="NavigationLink nav-link text-white NavbarLink"
           id="cart"
           asp-area="Customer"
           asp-controller="OrderBasket"
           asp-action="Index">
            <i class="bi bi-basket text-center Basket"></i>
            (0)
        </a>
    </li>
</ul>