@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookBazaar.Data.Repo.Interfaces
@inject SignInManager<IdentityUser> SignInManager
@inject IWorkUnit WorkUnit;

@{
    string loggedInUserId = string.Empty;
    if (SignInManager.IsSignedIn(User))
    {
        ClaimsIdentity claimsIdentity = (ClaimsIdentity)User.Identity!;
        loggedInUserId = claimsIdentity.FindFirst(ClaimTypes.NameIdentifier)!.Value;
    }
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @*<a id="manage"
           class="nav-link NavigationLink text-white border-0 text-uppercase"
           asp-area="Identity"
           asp-page="/Account/Manage/Index"
           title="Manage">
            
            @User.FindFirst(ClaimTypes.Name)?.Value
        </a>*@


        <li class="nav-item dropdown">
            <a class="NavbarLink NavigationLink border-0 text-uppercase DropdownParent text-white nav-link dropdown-toggle"
               href="#" id="navbarDropdown"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">
                <i class="bi bi-person"></i>
            </a>
            <ul class="dropdown-menu w-50" aria-labelledby="navbarDropdown">
                <div class="dropdown-header DropdownHeader">
                    @((await WorkUnit.UserRepo.GetAsync(u => u.Id == loggedInUserId)).Name)
                </div>
                <hr class="dropdown-divider">
                <li class="nav-item DropdownItem text-center">
                    <a class="NavigationLinkDropDown dropdown-item text-center"
                       asp-area="Customer"
                       asp-controller="Order"
                       asp-action="Index">
                        My orders
                    </a>
                </li>
                <li class="nav-item DropdownItem text-center">
                    <a class="NavigationLinkDropDown dropdown-item text-center"
                       asp-area="Identity"
                       asp-page="/Account/Manage/Index">
                        Manage account
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout"
                        type="submit"
                        class="nav-link NavigationLink text-white border-0 text-uppercase">
                    Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="NavigationLink nav-link text-white NavbarLink" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="NavigationLink nav-link text-white NavbarLink" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
    <li class="nav-item">
        <a class="NavigationLink nav-link text-white NavbarLink"
           id="cart"
           asp-area="Customer"
           asp-controller="OrderBasket"
           asp-action="Index">
            <i class="bi bi-basket text-center Basket"></i>
            (0)
        </a>
    </li>
</ul>