@using BookBazaar.Models.VM
@using Newtonsoft.Json
@model BookBazaar.Models.VM.BookDeleteViewModel

@{
    BookDeleteViewModel model = Model;
}

<div class="SwalDelModal">
    <h5 class="ModalQuestion"
        data-payload="@JsonConvert.SerializeObject(model)">
        Are you sure that you want to delete the book "@Model.Book!.Title" by @Model.Book.Author?
    </h5>
    <h6 class="text-danger">It will be permanently removed from the store along with its adjacent inventory entry and they will cannot be restored!</h6>
</div>