<div class="SwalDelModal">
    <h5 class="ModalQuestion">
        Cannot process this order because it contains books which are not available anymore!
    </h5>
    <h6 class="text-danger">Update the available stocks and please try again.</h6>
</div>